<% layout('layouts/boilerplate') %>
<h1>All Books</h1>
<p>Total # books: <%= booksList.length %></p>

<div class="row">
	<% for(let book of booksList) { %>
	<div class="col-md-3">
		<div class="card mb-3">
			<!-- <img src="..." class="card-img-top" alt="..." /> -->
			<div class="card-body">
				<h5 class="card-title"><%= book.title %></h5>
				<h6 class="card-subtitle mb-2 text-muted"><%= book.author %></h6>
				<div class="text-center">
					<a href="/books/<%= book._id%>" class="btn btn-primary">More info</a>
				</div>
			</div>
		</div>
	</div>
	<% } %>
</div>
